*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.fa-regular{
    font-weight: 0;
}

#section-p{
    padding: 40px 80px;
}

#section-m1{
    margin: 40px 0;
}

.section-p{
    padding: 40px 80px;
}

.section-m1{
    margin: 50px 100px;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color:#fff ;
    border-radius: 4px;
    cursor: pointer;
    border:none;
    outline: none;
    transition: 0.2s;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color:transparent;
    cursor: pointer;
    border:1px solid #fff;
    outline: none;
    transition: 0.2s;
}


/* NavBar */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    z-index: 999;
    position: sticky ;
    left: 0;
    top: 0;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav li{
    position: relative;
}

.nav li ,a{   
    text-decoration: none;
    display: inline-block;
    color: #111;
    font-size: 16px;
    font-weight: 600;
    padding: 0 15px;
    transition: 0.5s ease-in;
}

.nav li a:hover, .nav li a.active {
    color: #750E21;
}

.nav li:hover a::after, .nav li a.active::after {
    content: "";
    border-radius: 10px;
    width: 30%;
    height: 4px;
    background-color: #750E21;
    position: absolute;
    bottom: -7px;
    left: 30px;
    transition: 1s;
}

.mobile{
    display: none;
}

#close{
    display: none;
}

/* footer */

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-weight: 300;
}

footer .social{
    margin-top: 20px;
}

footer .social i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img{
    border :1px solid #750E21;
    border-radius: 6px;
}

footer .install .img{
    margin: 10px 0 15px 0;
}

footer .social i:hover,
footer a:hover {
    color: #750E21;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

/* home Page */
.main-hero{
    background-image: url(img/main_banner.png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.main-hero h4{
    padding-bottom: 15px;
    font-size: 50px;
}

.main-hero h2{
    font-size: 70px;
}

.main-hero h1{
    font-size: 70px;
    color: #750E21;
    padding-bottom: 10px;
}

.main-hero button{
    background-image: url("img/button.png");
    background-color: transparent;
    color: #750E21;
    border: 0;
    padding :14px 80px 14px 65px;
    background-repeat: no-repeat ;
    cursor: pointer;
    font-weight: 700;
    font-size:15px;
}

.index-feature{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.index-feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 15px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border: 1px solid #750E21;
    border-radius: 4px;
    cursor: pointer;
    margin: 15px 0;
}

.index-feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(10,62,221,0.1);
}

.index-feature .fe-box img{
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

.index-feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color:  #082032;
    background-color: #FED9ED;
}

.index-feature .fe-box:nth-child(2) h6{
    background-color: #cdebcc ;
}

.index-feature .fe-box:nth-child(3) h6{
    background-color: #89B9AD ;
}

.index-feature .fe-box:nth-child(4) h6{
    color: #cdebcc;
    background-color: #872341 ;
}

.index-feature .fe-box:nth-child(5) h6{
    background-color: #F8FFD2 ;
}

.index-feature .fe-box:nth-child(6) h6{
    background-color: #F0DBAF ;
}

.index-product1 {
    text-align: center;
}

.index-product1 h2{
    text-align: left;
}

.index-product1 .pro-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-top: 20px;
    flex-wrap: wrap;
}

.index-product1 .pro-container a{
    display: block;
}

.index-product1 .nav-to{
    text-align: left;
}

.index-product1 .nav-to a:hover{
    color: #750E21;
}

.index-product1 .pro{
    width: 23%;
    /* height: 600px; */
    min-width: 250px ;
    padding: 15px 12px;
    border: 2px solid #cce7d0 ;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0,0,0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

.index-product1 .product-tittle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.index-product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0,0,0.06);
}

.pro-status{
    display: flex;
}

.index-product1 .pro img{
    width: 100%;
    border-radius: 10px;
}

.index-product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

.index-product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}

.index-product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

.index-product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

.index-product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

.index-product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute; 
    bottom: 50px;
    right: 20px;
}

.index-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(img/banner/b2.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

.index-banner h4{
    color: #fff;
    font-size: 20px ;
}

.index-banner h2{
    color: #fff;
    font-size: 40px ;
    bottom: 20px 0;
}

.index-banner h2 span{
    color: #FF4C29;
}

.index-banner button:hover{
    background: #750E21;
    color: #e3e6f3;
}

.sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/banner/b17.jpg);
    min-width: 48%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

.sm-banner .banner-box2{
    background-image: url(img/banner/b10.jpg);
}

.sm-banner h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

.sm-banner h2{
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}

.sm-banner span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

.banner-box button :hover{
    color: #750E21;
}

.sm-banner .banner-box:hover button{
    background-color: #750E21;
    border: 1px solid #872341;
    color: #e3e6f3;
}

.banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

.banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/banner/b7.jpg);
    filter:grayscale(10%);
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom:20px ;
}

.banner3 .banner-box2{
    background-image: url(img/banner/b4.jpg);
}

.banner3 .banner-box3{
    background-image: url(img/banner/b18.jpg);
}


.banner3 h2{
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}

.banner3 h3{
    color: #ec544e;
    font-weight: 800;
    font-size: 15px;
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(img/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span{
    color: #ffbd27;
}

#newsletter input{
    height: 3.125rem;
    padding : 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}

#newsletter button{
    background-color:#088178 ;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.newsform{
    display: flex;
    width: 40%;
}

/* Product Page */

.main-product{
    width: 100%;
}

#product-page{
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #F8F6F4 ;
    border-radius: 10px;
    margin-top: 20px;
    padding: 40px 40px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    height: 90vh;
}

#product-page img{
    max-width: 500px ;
}

.product-des{
    margin-top: 30px;
    padding-left: 40px;
}

.product-des h2, h3{
    font-size: 30px;
    font-weight: 600;
}

.product-des h3{
    color: #750E21;
    margin-bottom: 10px;
}

.add-button{
    width: 100%;
    border-radius: 30px;
    font-size: 15px;
    color: #E3E6F3;
    border: none;
    background-color: #750E21;
    padding: 15px 0;
    margin: 20px 0;
    transition: 0.5s ease;
}

.add-button:hover{
    background-color: #ec544e;
    color: #111;
}

.line{
    height: 100%;
    height: 2px;
    background-color: #040D12;
    margin: 20px 0;
}

.product-des-info{
    display: flex;
    margin-top: 30px;
}

.product-title li{
    list-style: none;
    padding: 2px 10px;
    margin-top: 5px;
}

.product-info{
    margin-left: 20px ;
}

.product-info li{
    margin-top: 5px;
    border-radius: 30px;
    list-style: none;
    background-color: #ADC4CE;
    width: fit-content;
    padding: 2px 20px;
    transition: 0.5s;
}

.product-info li:hover{
    background-color: #750E21;
    color: #e3e6f3;
}

/* Media Query */

@media (max-width :799px){
    #section-p {
        padding: 40px 40px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0,0,0.02);
        padding: 80px 0 0 10px;
        transition: 0.5s ease-in;
    }

    #navbar.active{
        right: 0px;
    }

    .nav li{
        margin-bottom: 20px;
    }

    .mobile{
        display: flex;
        align-items: center;
    }

    .mobile i{
        color:#1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #close{
        display: block;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
    #lg-bag{
        display: none;
    }

    .main-hero{
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    .main-hero h4{
        padding-bottom: 15px;
        font-size: 20px;
    }
    
    .main-hero h2{
        font-size: 30px;
    }
    
    .main-hero h1{
        font-size: 30px;
        color: #750E21;
        padding-bottom: 10px;
    }
     
    .index-feature {
        justify-content: center;
    }

    .index-feature .fe-box {
        margin: 15px 15px;
    }

    .index-product1 .pro-container {
        justify-content: center;
    }

    .index-product1 .pro {
        margin: 15px ;
    }

    .index-banner {
        height: 20vh;
    }

    .sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }

    .banner3 {
        padding: 0 40px;
    }

    .banner3 .banner-box {
        min-width: 20%;
    }

    .newsform {
        width: 70%;
    }

    .index-banner h2 {
        font-size: 20px;
        bottom: 20px;
    }
}

@media (max-width:417px) {
    #header{
        padding: 10px 30px;
    }

    .main-hero{
        padding: 0 20px;
        background-position: 55%;
    }

    .main-hero h2 {
        font-size: 20px;
    }

    #section-p {
        padding: 20px;
    }

    .index-feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }

    .index-feature {
        justify-content: space-between;
    }

    .index-product1 .pro {
        width: 100%;
    }

    .banner3{
        padding: 0 20px;
    }

    .banner3 .banner-box {
        min-width: 100%;
    }
    
    #newsletter{
        padding: 40px 20px;
    }

    .newsform {
        width: 100%;
    }
}